version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: api-postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: api
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: